.header {
    background-color: hsl(312, 32%, 85%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px;


}

body {
    margin: 0;
    padding: 0;
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    /* spacing between items */
    list-style-type: none;
    margin: 0;
    /* remove default margin */
    padding: 10px;
    /* remove default padding */
}

.header .link {
    text-decoration: none;
    font-size: 20px;
}

.header .link h1 {
    margin: 0;
    /* remove extra margin from h1 */
    font-size: 25px;
    /* make logo same size as links */
}

.header ul li {
    padding: 0;
    /* remove extra padding */
}
.college{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}
.clg{
    text-decoration: none;
    font-size: 20px;
    padding: 15px; 
    margin: 10px;
    color:violet;
}

.active {
    font-weight:bolder ;
}
